<body>
<link rel="stylesheet" href="./css/anchors.scss">
<section class="coral" style="background-color: #555555">
    <article>
        <div class="wrapper">
            <div class="anchors">
                <a class="anchors__link" href="#anchor1">
                    Климат
                </a>
                <a class="anchors__link" href="#anchor2">
                    Районы
                </a>
                <a class="anchors__link" href="#anchor3">
                    Места
                </a>
                <a class="anchors__link" href="#anchor4">
                    Магазины
                </a>
                <a class="anchors__link" href="#anchor5">
                    Активный отдых
                </a>
                <a class="anchors__link" href="#anchor6">
                    Отели
                </a>
            </div>
        </div>
    </article>
</section>
</body>