<body>
<link rel="stylesheet" href="./css/banner.scss"/>
<link rel="stylesheet" href="/site/global/css/layout.scss"/>
<section class="coral">
    <article>
        <div class="wrapper">
            <div class="banner">
                <div class="banner__content">
                    <h1 class="banner__title">
                        Туры в Стамбул 2025
                    </h1>
                    <a href="#hotels" class="banner__button">
                        Выбрать тур
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>
</body>