<body>
<link rel="stylesheet" href="./css/card.scss"/>
<section class="coral">
    <article>
        <div class="wrapper">
            <h2 class="title-1 mb-16">
                Активные развлечения
            </h2>
            <div class="card">
                <div class="card__item">
                    <img class="card__img" src="/site/coral.ru/assets/image.webp" alt="">
                    <div class="card__info">
                        <h4 class="title-5 mb-8">
                            SEVEN SEAS HOTEL LIFE 5*
                        </h4>
                        <p class="text">
                            Настоящий магнит для туристов. Здесь есть все: отели «все включено», ночные развлечения
                        </p>
                        <a href="" class="coral-button mt-16">
                            Цены
                        </a>
                    </div>
                </div>

                <div class="card__item">
                    <img class="card__img" src="/site/coral.ru/assets/img.webp" alt="">
                    <div class="card__info">
                        <h4 class="title-5 mb-8">
                            SEVEN SEAS HOTEL LIFE 5*
                        </h4>
                        <p class="text">
                            Настоящий магнит для туристов. Здесь есть все: отели «все включено», ночные развлечения
                        </p>
                        <a href="" class="coral-button mt-16">
                            Цены
                        </a>
                    </div>
                </div>

                <div class="card__item">
                    <img class="card__img" src="/site/coral.ru/assets/img.webp" alt="">
                    <div class="card__info">
                        <h4 class="title-5 mb-8">
                            SEVEN SEAS HOTEL LIFE 5*
                        </h4>
                        <p class="text">
                            Настоящий магнит для туристов. Здесь есть все: отели «все включено», ночные развлечения
                        </p>
                        <a href="" class="coral-button mt-16">
                            Цены
                        </a>
                    </div>
                </div>

                <div class="card__item">
                    <img class="card__img" src="/site/coral.ru/assets/img.webp" alt="">
                    <div class="card__info">
                        <h4 class="title-5 mb-8">
                            SEVEN SEAS HOTEL LIFE 5*
                        </h4>
                        <p class="text">
                            Настоящий магнит для туристов. Здесь есть все: отели «все включено», ночные развлечения
                        </p>
                        <a href="" class="coral-button mt-16">
                            Цены
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>
</body>