<body>
<section class="coral" id="anchor-5">
    <article>
        <div class="wrapper">
            <div class="panel">
                <div class="panel__col">
                    <div class="panel__info">
                        <h4 class="title-3 mb-8">
                            Как расслабиться в Стамбуле?
                        </h4>
                        <p class="text">
                            В Стамбуле можно посетить множество красивых старинных хаммамов, в которых можно не только
                            расслабиться, но и насладиться интерьером. Самым знаменитым считается хаммам Хюррем Султан.
                            Расположен он между Голубой мечетью и собором Святой Софии. Здание было построено
                            в 1556 году по приказу султана Сулеймана Великолепного. Сегодня хаммам работает. Внутри
                            находятся два зеркально расположенных зала: мужской и женский. Программа стандартная:
                            пилинг, пенный массаж, душ, масляный массаж и, конечно же, вкусный турецкий
                            чай со сладостями.
                        </p>
                    </div>
                </div>
                <div class="panel__img" style="background-image: url('/site/coral.ru/assets/chill_1.webp');"></div>
            </div>

            <div class="panel panel--reverse">
                <div class="panel__col">
                    <div class="panel__info">
                        <h4 class="title-3 mb-8">
                            Гольф в Стамбуле
                        </h4>
                        <p class="text">
                            За последние несколько лет в Стамбуле открылось множество гольф-клубов, соответствующих
                            международным стандартам. Кроме того, в Турции есть отели, главной концепцией которых
                            является гольф. Отличные игровые площадки, высокий уровень сервиса, удобное расположение
                            и доступность для туристов — основные черты турецкого гольфа. Особенно популярен
                            этот вид спорта становится в зимний период — когда погода стоит тёплая, но не знойная,
                            и можно вдоволь насладиться гольфом.
                        </p>
                    </div>
                </div>
                <div class="panel__img" style="background-image: url('/site/coral.ru/assets/chill_2.webp');"></div>
            </div>

            <div class="panel">
                <div class="panel__col">
                    <div class="panel__info">
                        <h4 class="title-3 mb-8">
                            Стамбул сегодня
                        </h4>
                        <p class="text">
                            Сегодня Стамбул играет ключевую роль в экономике Турции. В городе сосредоточена
                            вся промышленность страны. Здесь ежегодно открываются новые отели международного уровня,
                            строятся современные торговые и бизнес-центры. Большинство туристов приезжают посмотреть
                            музеи и театры, студенты стремятся поступить в ведущие вузы и посетить библиотеки, а жители
                            города — найти работу в лучших международных компаниях.
                            Стамбул остаётся культурным центром страны. Кроме многочисленных достопримечательностей
                            и исторических памятников, в городе много музеев, которые круглый год привлекают внимание
                            любителей истории.
                        </p>
                    </div>
                </div>
                <div class="panel__img" style="background-image: url('/site/coral.ru/assets/chill_3.webp');"></div>
            </div>
        </div>
    </article>
</section>
</body>