<body>
<section class="coral">
    <article>
        <div class="wrapper">
            <h2 class="title-1 mb-16">
                Что поесть?
            </h2>
            <div class="swiper slider js-slider-food">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slider__slide">
                        <img class="slider__img" src="/site/coral.ru/assets/f-slide_1.webp" alt="">
                        <div class="slider__info">
                            <p class="text">
                                Стамбул омывает несколько морей, что, конечно же, влияет на кухню этого города. В первую
                                очередь, Стамбул славится свежими морепродуктами. В ресторанах гостей жду свежие
                                креветки, кальмары, омары, рыба-меч, мидии и морской окунь. Местный фаст-фуд предлагает
                                рыбные сэндвичи «балык-экмек», свежие мидии с лимонным соком и лепёшки «гезлеме»
                                из тонкого пресного теста, приготовленного на раскалённом камне.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide slider__slide">
                        <img class="slider__img" src="/site/coral.ru/assets/f-slide_2.webp" alt="">
                        <div class="slider__info">
                            <p class="text">
                                Наряду с рыбой можно отведать и мясные блюда — кебаб и кефте — шарики из баранины
                                с яйцом и луком. Кебаб готовится при гостях в небольших глиняных горшочках. Когда блюдо
                                готово, повар острым ножом срубает дно у горшочка, и блюдо рассыпается по тарелке.
                                Эффектно, а главное — вкусно!
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide slider__slide">
                        <img class="slider__img" src="/site/coral.ru/assets/f-slide_3.webp" alt="">
                        <div class="slider__info">
                            <p class="text">
                                Уличная еда в Турции не только вкусная, но ещё и интересная. Например, продавцы бубликов
                                симит ходят по улицам с подносом на голове, на подносе — те самые бублики. Покупатель
                                расплачивается и берет с подноса понравившийся бублик (желательно, верхний). В настоящее
                                шоу превращается процесс покупки дондурмы — турецкого мороженого из козьего молока.
                                Обязательно попробуйте!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider__pagination swiper-pagination js-pagination-food"></div>
            </div>
            <div class="slider__next js-next-food">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M5.64645 3.64645C5.45118 3.84171 5.45118 4.15829 5.64645 4.35355L9.29289 8L5.64645 11.6464C5.45118 11.8417 5.45118 12.1583 5.64645 12.3536C5.84171 12.5488 6.15829 12.5488 6.35355 12.3536L10.3536 8.35355C10.5488 8.15829 10.5488 7.84171 10.3536 7.64645L6.35355 3.64645C6.15829 3.45118 5.84171 3.45118 5.64645 3.64645Z"
                          fill="#535353"/>
                </svg>
            </div>
            <div class="slider__prev js-prev-food">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M10.3536 3.64645C10.5488 3.84171 10.5488 4.15829 10.3536 4.35355L6.70711 8L10.3536 11.6464C10.5488 11.8417 10.5488 12.1583 10.3536 12.3536C10.1583 12.5488 9.84171 12.5488 9.64645 12.3536L5.64645 8.35355C5.45118 8.15829 5.45118 7.84171 5.64645 7.64645L9.64645 3.64645C9.84171 3.45118 10.1583 3.45118 10.3536 3.64645Z"
                          fill="#535353"/>
                </svg>
            </div>
        </div>
    </article>
</section>
</body>