<body>
<link rel="stylesheet" href="./css/location.scss"/>
<section class="coral">
    <article>
        <div class="wrapper">
            <h2 class="title-1 mb-16">
                Где находится Стамбул?
            </h2>
            <p class="text">
                Стамбул омывается двумя морями: Чёрным и Мраморным, а пролив Босфор делит его на две части. Стамбул
                одновременно находится в Европе и Азии. В европейской части можно увидеть красивейшую бухту, которая
                является символом города, – бухту Золотой Рог, прогуляться по живописному Старому городу, заглянуть
                в портовый район или посмотреть современные бизнес-центры в деловом районе. В азиатской части Стамбула
                обустроены жилые районы с традиционными домами и историческими памятниками.
            </p>
            <p class="text">
                В Стамбуле находится как минимум половина культурно-исторического наследия Турции. Этот город сочетает
                в себе древние восточные традиции, современные реалии и неповторимый турецкий колорит.
            </p>
            <div class="big-card">
                <div class="big-card__block">
                    <h4 class="big-card__title title-3">
                        Историческая справка
                    </h4>
                    <p class="text">
                        Летопись Стамбула ведётся с середины VII века до н. э. Тогда город назывался Византием. Позже
                        Стамбул входил в состав Римской империи, его назвали Новым Римом, затем многие века город носил
                        название Константинополь.
                        Город пережил периоды расцвета и упадка, видел смены правителей и империй, множество войн.
                        Стамбул на протяжении своей долгой истории был резиденцией 10 римских императоров,
                        82 византийских императоров и 30 султанов Османской империи.
                    </p>
                    <a href="" class="coral-button">
                        Забронировать тур
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>
</body>