<body>
<link rel="stylesheet" href="./css/pad.scss"/>
<section class="coral">
    <article>
        <div class="wrapper">
            <h2 class="title-1 mb-16">
                Что привезти из Стамбула?
            </h2>
            <div class="pad">
                <div class="pad__block pad__block--large">
                    <p class="text">
                        Местные сладости: пахлава, рахат-лукум, пишмание
                    </p>
                </div>
                <div class="pad__block pad__block--large">
                    <p class="text">
                        Турецкий чай
                    </p>
                </div>
                <div class="pad__block pad__block--medium">
                    <p class="text">
                        Изделия из кожи
                    </p>
                </div>
                <div class="pad__block pad__block--medium">
                    <p class="text">
                        Антиквариат
                    </p>
                </div>
                <div class="pad__block pad__block--medium">
                    <p class="text">
                        Ювелирные украшения
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>
</body>