<body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<link rel="stylesheet" href="./css/slider.scss"/>
<section class="coral">
    <article>
        <div class="wrapper">
            <h2 class="title-1 mb-16">
                Что посмотреть в Стамбуле?
            </h2>
            <div class="swiper slider js-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slider__slide">
                        <img class="slider__img" src="/site/coral.ru/assets/slide_1.webp" alt="">
                        <div class="slider__info">
                            <h4 class="slider__title">
                                Софийский собор (Айя-София)
                            </h4>
                            <p class="text">
                                Главная святыня христианства, переоборудованная в мечеть после захвата Константинополя.
                                Здесь можно увидеть остатки минаретов, великолепную мозаику и панно с арабской вязью.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide slider__slide">
                        <img class="slider__img" src="/site/coral.ru/assets/slide_2.webp" alt="">
                        <div class="slider__info">
                            <h4 class="slider__title">
                                Голубая мечеть
                            </h4>
                            <p class="text">
                                Главная действующая мечеть Стамбула. Внутри мечети находится 260 окон.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide slider__slide">
                        <img class="slider__img" src="/site/coral.ru/assets/slide_3.webp" alt="">
                        <div class="slider__info">
                            <h4 class="slider__title">
                                Дворец Топкапы
                            </h4>
                            <p class="text">
                                Комплекс из 4 дворов — главная резиденция правителей. Здесь можно увидеть древнюю
                                византийскую церковь Святой Ирины, опочивальни и гарем султанов.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide slider__slide">
                        <img class="slider__img" src="/site/coral.ru/assets/slide_4.webp" alt="">
                        <div class="slider__info">
                            <h4 class="slider__title">
                                Долмабахче
                            </h4>
                            <p class="text">
                                Дворец в стиле барокко, напоминающий Эрмитаж.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide slider__slide">
                        <img class="slider__img" src="/site/coral.ru/assets/slide_5.webp" alt="">
                        <div class="slider__info">
                            <h4 class="slider__title">
                                Галатская башня
                            </h4>
                            <p class="text">
                                Символ города. Все желающие могут подняться и насладиться потрясающим видом на Босфор
                                и Золотой Рог.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide slider__slide">
                        <img class="slider__img" src="/site/coral.ru/assets/slide_6.webp" alt="">
                        <div class="slider__info">
                            <h4 class="slider__title">
                                Мечеть Сулеймание
                            </h4>
                            <p class="text">
                                Мечеть, во дворе которой захоронен султан Сулейман Великолепный, его жена Хюррем
                                и их дочь Михримах.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide slider__slide">
                        <img class="slider__img" src="/site/coral.ru/assets/slide_7.webp" alt="">
                        <div class="slider__info">
                            <h4 class="slider__title">
                                Небоскреб Сапфир
                            </h4>
                            <p class="text">
                                Самое высокое здание города, на 50 этаже которого расположена обзорная площадка —
                                с неё открывается великолепный вид на весь Стамбул.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="slider__pagination swiper-pagination js-pagination"></div>
            </div>
            <div class="slider__next js-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.64645 3.64645C5.45118 3.84171 5.45118 4.15829 5.64645 4.35355L9.29289 8L5.64645 11.6464C5.45118 11.8417 5.45118 12.1583 5.64645 12.3536C5.84171 12.5488 6.15829 12.5488 6.35355 12.3536L10.3536 8.35355C10.5488 8.15829 10.5488 7.84171 10.3536 7.64645L6.35355 3.64645C6.15829 3.45118 5.84171 3.45118 5.64645 3.64645Z" fill="#535353"/>
                </svg>
            </div>
            <div class="slider__prev js-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.3536 3.64645C10.5488 3.84171 10.5488 4.15829 10.3536 4.35355L6.70711 8L10.3536 11.6464C10.5488 11.8417 10.5488 12.1583 10.3536 12.3536C10.1583 12.5488 9.84171 12.5488 9.64645 12.3536L5.64645 8.35355C5.45118 8.15829 5.45118 7.84171 5.64645 7.64645L9.64645 3.64645C9.84171 3.45118 10.1583 3.45118 10.3536 3.64645Z" fill="#535353"/>
                </svg>
            </div>
        </div>
    </article>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="module" src="./js/script.js"></script>
</body>