<body>
<link rel="stylesheet" href="./css/stambul.scss">
<section class="coral" id="anchor-2">
    <article>
        <div class="wrapper">
            <h2 class="title-1 mb-8">
                Что делать в Стамбуле?
            </h2>
            <p class="text">
                Большинство достопримечательностей вы сможете увидеть в рамках наших экскурсионных туров в Стамбул.
                Мы предлагаем увлекательные путешествия с опытными гидами и полным погружением в историю города.
            </p>

            <div class="panel">
                <div class="panel__col">
                    <div class="panel__info">
                        <p class="text">
                            В любое время года можно отправиться на Принцевы острова. Там туристов ждут не только
                            живописные
                            пейзажи, но и комфортабельные отели, рестораны и кафе. В летний сезон можно искупаться
                            в тёплых
                            водах Чёрного моря, а в прохладную погоду, даже зимой, – с комфортом прогуляться
                            по колоритным
                            улочкам и сделать прекрасные фотографии.
                        </p>
                    </div>
                </div>
                <div class="panel__img" style="background-image: url('/site/coral.ru/assets/image.webp');">

                </div>
            </div>

            <div class="panel panel--reverse">
                <div class="panel__col">
                    <div class="panel__info">
                        <p class="text">
                            Посетить район Султанахмет, который внесён в список культурного наследия ЮНЕСКО. Здесь можно
                            увидеть Софийский собор, Голубую мечеть, площадь Ипподром.
                        </p>
                    </div>
                </div>
                <div class="panel__img" style="background-image: url('/site/coral.ru/assets/image_1.webp');">

                </div>
            </div>

            <div class="panel">
                <div class="panel__col">
                    <div class="panel__info">
                        <p class="text">
                            Зайти в квартал Эминёню, где сохранились древние постройки: мечети, колоритные восточные
                            базары.
                            Нажмите на кнопку ниже, чтобы подобрать отдых на Мальдивах на май
                        </p>
                    </div>
                </div>
                <div class="panel__img" style="background-image: url('/site/coral.ru/assets/image_2.webp');">

                </div>
            </div>

            <div class="panel panel--reverse">
                <div class="panel__col">
                    <div class="panel__info">
                        <p class="text">
                            Осмотреть новый город Стамбула — Бейоглу. Он является главным культурно-развлекательным
                            центром города. Здесь есть магазины знаменитых мировых брендов, галереи как знаменитых,
                            так и начинающих художников, а также семейные антикварные лавки.
                        </p>
                    </div>
                </div>
                <div class="panel__img" style="background-image: url('/site/coral.ru/assets/image_3.webp');">

                </div>
            </div>

            <div class="panel">
                <div class="panel__col">
                    <div class="panel__info">
                        <p class="text">
                            Прогуляться по кварталу Галатасарай, где сохранились древние генуэзские постройки времён
                            Византии, например, Галатская башня.
                        </p>
                    </div>
                </div>
                <div class="panel__img" style="background-image: url('/site/coral.ru/assets/image_4.webp');">

                </div>
            </div>

            <div class="panel panel--reverse">
                <div class="panel__col">
                    <div class="panel__info">
                        <p class="text">
                            Пройтись по побережью Босфора, где находится престижный район Бешикташ. Особого внимания
                            заслуживает пристань Ортакей, мечеть Синана-Паши, два дворца — Йылдыз и Долмабахче, а также
                            площадь Барбаросса.
                        </p>
                    </div>
                </div>
                <div class="panel__img" style="background-image: url('/site/coral.ru/assets/image_5.webp');">

                </div>
            </div>
        </div>
    </article>
</section>

</body>