@use 'sass:math';
@use "sass:selector";

/*
Миксин для установки тега к классу
$child - задаем тег, для которого хотим повысить специфичность
пример: &__link {} - хотим добавить 'a' вначале правила и получить a.text__link {}
делаем так: &__link { @include(parentTag)(a) {} }
получаем: a.text__link {}
*/
@mixin parentTag($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

/*
Миксин для заголовка
*/
@mixin title-style($size, $line-height, $weight: 600) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}
