

.big-card {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 8px;
  background-position: right;
  margin-top: 54px;
  background-image: url('/site/coral.ru/assets/bg.webp');

  @media screen and (max-width: 1024px) {
    min-height: 712px;
    display: flex;
    align-items: flex-end;
    background-image: url("/site/coral.ru/assets/bg_m.webp");
  }

  &__block {
    max-width: 548px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(15px);
    padding: 24px;

    @media screen and (max-width: 1024px) {
      width: 100%;
      max-width: unset;
    }

    a.coral-button {
      @media screen and (max-width: 1024px) {
        width: 100%;
        justify-content: center;
      }
    }
  }

  &__title {
    color: white;
    margin-bottom: 8px;
  }

  .text {
    color: white;
  }

  .coral-button {
    margin-top: 8px;
  }
}