

.big-card {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 8px;
  background-position: right;
  margin-top: 54px;

  &__block {
    max-width: 548px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.50);
    backdrop-filter: blur(15px);
    padding: 24px;
  }

  &__title {
    color: white;
    margin-bottom: 8px;
  }

  .text {
    color: white;
  }

  .coral-button {
    margin-top: 8px;
  }
}