

.pad {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 88px;
  grid-gap: 24px;

  &--4 {
    .pad__block {
      grid-column: span 3;

      @media screen and (max-width: 768px) {
        grid-column: auto;
      }
    }
  }

  &--5 {
    .pad__block:nth-child(-n + 2) {
      grid-column: span 3;

      @media screen and (max-width: 768px) {
        grid-column: auto;
      }
    }

    .pad__block:nth-last-child(-n + 3) {
      grid-column: span 2;

      @media screen and (max-width: 768px) {
        grid-column: auto;
      }
    }
  }

  &--6 {
    .pad__block {
      grid-column: span 2;

      @media screen and (max-width: 768px) {
        grid-column: auto;
      }
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: auto;
  }

  &__block {
    border-radius: 20px;
    background-color: #D2E9FB;
    display: flex;
    align-items: center;
    padding-inline: 32px;

    //&--large {
    //  grid-column: span 3;
    //
    //  @media screen and (max-width: 768px) {
    //    grid-column: auto;
    //  }
    //}
    //
    //&--medium {
    //  grid-column: span 2;
    //
    //  @media screen and (max-width: 768px) {
    //    grid-column: auto;
    //  }
    //}
  }
}