

.pad {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 88px;
  grid-gap: 24px;

  &__block {
    border-radius: 20px;
    background-color: #D2E9FB;
    display: flex;
    align-items: center;
    padding-inline: 32px;

    &--large {
      grid-column: span 3;
    }

    &--medium {
      grid-column: span 2;
    }
  }
}