<body>
<link rel="stylesheet" href="./css/actions.scss"/>
<link rel="stylesheet" href="./css/slider.scss"/>
<section class="sunmar">
    <article>
        <div class="wrapper">
            <h2 class="title-2 mb-16 text-center">
                Наши акции
            </h2>
            <div class="swiper slider actions js-slider-actions">
                <div class="swiper-wrapper">
                    <div class="swiper-slide actions__slide actions__slide--white" style="background-image: url('/site/sunmar.ru/assets/img_1.webp')">
                        <div class="actions__label">Реклама</div>
                        <h4 class="actions__title">
                            Какой сегодня курс?
                        </h4>
                        <p class="actions__text">
                            Курс на отдых! <br>
                            Получите cкидку 3% <br>
                            на туры и отели
                        </p>
                        <a href="" class="actions__link">
                            Выбрать тур
                        </a>
                    </div>
                    <div class="swiper-slide actions__slide actions__slide--white" style="background-image: url('/site/sunmar.ru/assets/img_1.webp')">
                        <div class="actions__label">Реклама</div>
                        <h4 class="actions__title">
                            Летаем в Турцию из 18 городов
                        </h4>
                        <p class="actions__text">
                            Забронируйте билеты и получите <br>
                            большую скидку до 31.03 по акции <br>
                            «Раннее бронирование»
                        </p>
                        <a href="" class="actions__link">
                            Выбрать тур
                        </a>
                    </div>
                    <div class="swiper-slide actions__slide actions__slide--white" style="background-image: url('/site/sunmar.ru/assets/img_1.webp')">
                        <div class="actions__label">Реклама</div>
                        <h4 class="actions__title">
                            CoralBonus. <br>
                            Xanadu Resort
                        </h4>
                        <p class="actions__text">
                            5 000 дополнительных <br>
                            бонусов на отдых <br>
                            в отеле Xanadu Resort. <br>
                            1 бонус = 1 рубль
                        </p>
                        <a href="" class="actions__link">
                            Выбрать тур
                        </a>
                    </div>

                    <div class="swiper-slide actions__slide actions__slide--white" style="background-image: url('/site/sunmar.ru/assets/img_1.webp')">
                        <div class="actions__label">Реклама</div>
                        <h4 class="actions__title">
                            CoralBonus. <br>
                            Xanadu Resort
                        </h4>
                        <p class="actions__text">
                            5 000 дополнительных <br>
                            бонусов на отдых <br>
                            в отеле Xanadu Resort. <br>
                            1 бонус = 1 рубль
                        </p>
                        <a href="" class="actions__link">
                            Выбрать тур
                        </a>
                    </div>
                </div>
                <div class="slider__pagination swiper-pagination js-pagination-actions"></div>
            </div>
            <div class="slider__next js-next-actions">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" fill="none">
                    <path d="M12.6667 11.7969L18 6.54687M18 6.54687L12.6667 1.29688M18 6.54687H2" stroke="#656565" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <div class="slider__prev js-prev-actions">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" fill="none">
                    <path d="M7.33334 11.7969L2 6.54687M2 6.54687L7.33334 1.29688M2 6.54687H18" stroke="#656565" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
    </article>
</section>
</body>