<body>
<link rel="stylesheet" href="./css/grid-hotels.scss"/>
<section class="sunmar">
    <article>
        <div class="wrapper">
            <h2 class="title-2 mb-16 text-center">
                Отели
            </h2>
            <div class="grid-hotels">
                <div class="grid-hotels__item">
                    <img src="/site/sunmar.ru/assets/img_3.webp" alt="">
                </div>
                <div class="grid-hotels__item">
                    <img src="/site/sunmar.ru/assets/img_3.webp" alt="">
                </div>
                <div class="grid-hotels__item">
                    <img src="/site/sunmar.ru/assets/img_3.webp" alt="">
                </div>
            </div>
            <p class="text text-center">
                Анапа – одно из популярных летних направлений для российских туристов. Из-за того, что отдых там
                временно невозможен, многие задаются вопросом: куда теперь отправляться на море? В России можно найти
                отдых на любой вкус, в том числе и пляжный. Приморские курорты привлекают туристов со всей страны и даже
                из зарубежья. Каждый из них имеет яркую индивидуальность, и сейчас мы расскажем, куда можно отправиться
                в отпуск вместо Анапы.
            </p>
        </div>
    </article>
</section>
</body>