<body>
<link rel="stylesheet" href="./css/hotels.scss"/>
<section class="coral">
    <article>
        <div class="wrapper">
            <h2 class="title-1 mb-16">
                Отели
            </h2>
            <p class="text">
                В Аланье много достойных экономичных вариантов, а также премиум-отелей для семейного и романтического
                отдыха.
            </p>
            <div class="hotels">
                <div class="hotels__block hotels__block--1">
                    <div class="hotels__info">
                        <h4 class="hotels__title mb-8">
                            Премиум отели 5★
                        </h4>
                        <p class="text">
                            Первая береговая линия, широкий песчаный пляж и персонал, который предугадывает ваши
                            желания. Подходят для требовательных туристов.
                        </p>
                    </div>
                    <div class="hotels__img" style="background-image: url('https://b2ccdn.coral.ru/content/landing-pages/turkey/alania/h_1.webp')"></div>
                </div>
                <div class="hotels__block hotels__block--2">
                    <div class="hotels__info">
                        <h4 class="hotels__title mb-8">
                            Премиум отели 5★
                        </h4>
                        <p class="text">
                            Первая береговая линия, широкий песчаный пляж и персонал, который предугадывает ваши
                            желания. Подходят для требовательных туристов.
                        </p>
                    </div>
                    <div class="hotels__img" style="background-image: url('https://b2ccdn.coral.ru/content/landing-pages/turkey/alania/h_2.webp')"></div>
                </div>
                <div class="hotels__block hotels__block--3">
                    <div class="hotels__info">
                        <h4 class="hotels__title mb-8">
                            Премиум отели 5★
                        </h4>
                        <p class="text">
                            Первая береговая линия, широкий песчаный пляж и персонал, который предугадывает ваши
                            желания. Подходят для требовательных туристов.
                        </p>
                    </div>
                    <div class="hotels__img" style="background-image: url('https://b2ccdn.coral.ru/content/landing-pages/turkey/alania/h_3.webp')"></div>
                </div>
                <div class="hotels__block hotels__block--4">
                    <div class="hotels__info">
                        <h4 class="hotels__title mb-8">
                            Премиум отели 5★
                        </h4>
                        <p class="text">
                            Первая береговая линия, широкий песчаный пляж и персонал, который предугадывает ваши
                            желания. Подходят для требовательных туристов.
                        </p>
                    </div>
                    <div class="hotels__img" style="background-image: url('https://b2ccdn.coral.ru/content/landing-pages/turkey/alania/h_4.webp')"></div>
                </div>
            </div>
        </div>
    </article>
</section>
</body>