<body>
<link rel="stylesheet" href="./css/pad.scss"/>
<section class="sunmar sunmar--benefits">
    <article>
        <div class="wrapper">
            <h2 class="title-2 mb-24 text-center">
                Преимущества
            </h2>
            <div class="pad pad--5">
                <div class="pad__block">
                    <p class="text">
                        Местные сладости: пахлава, рахат-лукум, пишмание
                    </p>
                </div>
                <div class="pad__block">
                    <p class="text">
                        Турецкий чай
                    </p>
                </div>
                <div class="pad__block">
                    <p class="text">
                        Изделия из кожи
                    </p>
                </div>
                <div class="pad__block">
                    <p class="text">
                        Антиквариат
                    </p>
                </div>
                <div class="pad__block">
                    <p class="text">
                        Ювелирные украшения
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>
</body>