
.banner {
  background-image: url("/site/sunmar.ru/assets/banner_turkey.webp");
  height: 520px;
  width: 100%;
  background-size: cover;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s linear;

  @media screen and (max-width: 1280px) {
    height: 420px;
  }

  @media screen and (max-width: 1024px) {
    height: 380px;
  }

  @media screen and (max-width: 768px) {
    background-image: url("/site/sunmar.ru/assets/banner_turkey_m.webp");
    height: 520px;
    border-radius: 0;
  }

  @media screen and (max-width: 428px) {

  }

  &__links {
    display: flex;
    padding: 8px;
    border-radius: 40px;
    background-color: #F5F5F8;
    gap: 8px;

    a {
      font-size: 16px;
      font-weight: 600;
      height: 43px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      text-decoration: none!important;
      color: inherit!important;
      border-radius: 100px;

      &:hover {
        background-color: #061A3E;
        color: #FFFFFF!important;
      }
    }
  }

  &__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    padding-inline: 64px;

    @media screen and (max-width: 768px) {
      padding-inline: 32px;
      padding: 24px;
      justify-content: flex-start;
    }

    //@media screen and (max-width: 428px) {
    //
    //}
  }
}

.wrapper {
  &-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}